include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include job_seeking *.css
recursive-include job_seeking *.csv
recursive-include job_seeking *.html
recursive-include job_seeking *.ico
recursive-include job_seeking *.js
recursive-include job_seeking *.json
recursive-include job_seeking *.md
recursive-include job_seeking *.png
recursive-include job_seeking *.py
recursive-include job_seeking *.svg
recursive-include job_seeking *.txt
recursive-exclude job_seeking *.pyc