
hallo

<!--
{%- for item in doc.work_history -%}

<div class="row {% if item.subitem %} subitem {% endif %} ">
  <div class="col-xs-3 firstcol" style="text-align:right;">
    <p>{% if item.start_date %}{{ item.start_date }}{% endif %}{% if (item.start_date) and (item.end_date) %} - {% endif
      %}{% if item.end_date %}{{ item.end_date }}{% endif %}</p>

  </div>
  <div class="col-xs-3 secondcol">
    <p><span style="font-weight:bold">{{ item.position }}</span> </p>
  </div>
  {% if item.company %}
  <div class="col-xs-6 thirdcol">
    <p><span style="font-style:italic">{{ item.company }}</span>{% if item.place %}, {{ item.place }}{% endif %}</p>
  </div>
  {% endif %}
</div>

{% if item.description %}
<div class="row {% if item.subitem %} subitem {% endif %}">
  <div class="col-xs-3 firstcol" style="text-align:right;">
  </div>
  <div class="col-xs-9 secondcol">
    <p>{{ item.description }}</p>
  </div>
</div>
{% endif %}

{%- endfor -%}
-->